header {
    text-align: center;
}

.navbar li {
    display: inline-block;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    padding: 20px;
}

.navbar-a {
    color: #FF0000;
    text-decoration: none;
}

.image-container {
    width: 101.77%;
    height: auto;
    margin: -10px -20px;
}

.main-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase
}

.main-paragraph {
    font-family: Montserrat;
    text-align: center;
    margin: 0px;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}

.backgroung-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-button {
    font-family: Montserrat;
    width: 200px;
    height: 60px;
    background-color: red;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    text-transform: uppercase
}

.footer-paragraph {
    font-family: Montserrat;
    font-weight: bold;
    padding-right: 80px;
    text-align: right;
}